<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Tabs Example</title>
    
<link rel="stylesheet" href="ionic.css">
<script src="ionic.bundle.js"></script>

    <script src="ctrl.js" ></script>
    </head>

  <body>
    
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>


    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios7-world" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Home">
        <ion-content class="padding">
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/toggles">Toggles</a>
          </p>
          
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/listt">List</a>
          </p>
          
          
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/sidemenus">Menus</a>
          </p>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="templates/sidemenus.html" type="text/ng-template">
        <ion-view title="sidemenus">
            <ion-content>
                
    <ion-side-menus>
     <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
          <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
          <h1 class="title">Content</h1>
        </ion-header-bar>
        <ion-content class="padding">
          <p>
            On a small viewport (less than 768px window width), the left menu will be hidden, but can be shown by swiping left to right, or toggling the button in the top left of the header. On a large viewport (greater than or equal to 768px), the left menu will stay open.
          </p>
          <p>
            Using <code>large</code> as the attribute's value is an alias to <code>(min-width:768px)</code> since it is the most common use-case. However, for added flexibility, any valid media query could be added as the value, such as <code>(min-width:600px)</code> or even multiple queries such as <code>(min-width:750px) and (max-width:1200px)</code>.
          </p>
        </ion-content>
      </ion-side-menu-content>
    
      <ion-side-menu expose-aside-when="large">
        <ion-header-bar class="bar-royal">
          <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <div class="item">
              A few
            </div>
            <div class="item">
              of my
            </div>
            <div class="item">
              favorite
            </div>
            <div class="item">
              things
            </div>
          </div>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
    
            </ion-content>
        </ion-view>
        
    </script>
    
    <script id="templates/listt.html" type="text/ng-template">
        <ion-view title="listt">
         <ion-content>

      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="group.shown = !group.shown"
                    ng-class="{active: group.shown}">
              <i class="icon" ng-class="{'ion-plus': !group.shown, 'ion-minus': group.shown}"></i>
            &nbsp;
            Group {{group.name}}</ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="group.shown">
            {{item}}
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
      
        </ion-view>
        
    </script>
    
    <script id="templates/toggles.html" type="text/ng-template">
      <ion-view title="Toggle">
        <ion-content>
      <div class="list">
        
        <div class="item item-divider"> 
          Settings
        </div>
        
        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked" 
                    ng-checked="item.checked">
          {{ item.text }}
        </ion-toggle>
        
        <div class="item">
          <pre ng-bind="settingsList | json"></pre> 
        </div>
        
        <div class="item item-divider"> 
          Notifications
        </div>
        
        <ion-toggle ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
          Push Notifications
        </ion-toggle>
        
        <div class="item">
          <pre ng-bind="pushNotification | json"></pre> 
        </div>
        
        <ion-toggle toggle-class="toggle-assertive"
                    ng-model="emailNotification"
                    ng-true-value="Subscribed"
                    ng-false-value="Unubscribed">
          Newsletter
        </ion-toggle>
        
        <div class="item">
          <pre ng-bind="emailNotification | json"></pre> 
        </div>
        
      </div>
      
    </ion-content>
      </ion-view>
    </script>

    
    
    <script id="templates/facts.html" type="text/ng-template">
      <ion-view title="Facts">
        <ion-content class="padding">
          <p>Banging your head against a wall uses 150 calories an hour.</p>
          <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
          <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
          <p>A cockroach will live nine days without it's head, before it starves to death.</p>
          <p>Polar bears are left handed.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/facts2.html" type="text/ng-template">
      <ion-view title="Also Factual">
        <ion-content class="padding">
          <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
          <p>1 in every 4 Americans has appeared on T.V.</p>
          <p>11% of the world is left-handed.</p>
          <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
          <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
          <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-view title="About">
        <ion-content class="padding">
          <h3>Create hybrid mobile apps with the web technologies you love.</h3>
          <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
          <p>Built with Sass and optimized for AngularJS.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
          </p>
        </ion-content>
      </ion-view>
    </script>
      
    <script id="templates/nav-stack.html" type="text/ng-template">
      <ion-view title="Tab Nav Stack">
        <ion-content class="padding">
          <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
      </ion-view>
    </script>
  
    <script id="templates/contact.html" type="text/ng-template">
      <ion-view title="Contact">
        <ion-content>
          <div class="list">
            <div class="item">
              @IonicFramework
            </div>
            <div class="item">
              @DriftyTeam
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>